.container {
    display: flex;
    justify-content: center;
    background-color: darkgray
}

.container.blue {
    background-color: blue;
}

.box {
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;

}

.my-box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-box.add {
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;

}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal .inner {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px;
    display: block;
    width: 960px;
    height: 540px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #333;
    font-size: 1.5rem;
    animation: fadeInAnimation 200ms ease-out;
}

.btn-list {
    display: flex;
    justify-content: center;
    background-color:aqua;
}

.btn-list button {
    margin:10px;
    width: 70px;
}
.item-list {
    background-color: cornflowerblue;
    display:flex;
    justify-content: center;
    list-style: none;
    padding:0px;
}

.data-list {
    border:1px solid black;
    margin: 10px;
    font-size: 20px;
    list-style: none;
    text-align: center;
    width: 100%;
}